body{
  background-image: url('/Users/lizandro/Documents/cosc4353/src/oil barrel mint.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}
.container
{
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: relative;
  background: inherit;
  
  display: inline-flex;
  
}

.background{
backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: relative;
  background: inherit;
  z-index: 1;
}
.background::before
{
  background: inherit;
  content: "";
  position: absolute;
  box-shadow: inset 0 0 1000px rgba(235, 229, 229, 0.7);
  filter: blur(5px);
  z-index: -1;
}